.admin-header {
    width: 100vw;
    display: flex;
    justify-content: flex-end;  

    .button-container {
        display: flex;
        align-items: center;

        button {
            margin-top: 20px;
            margin-right: 20px;
         
            border-radius: 12px;
            background-color: transparent;
            min-width: 80px;
        }

        .signout {
            border: 1.5px solid #838aac;
            background-color: #fff;
            color: #838aac;
        }

        .signout:hover {
            background-color: #838aac;
            color: #ffffff;
            cursor: pointer;
        }
    }
}