.income-entry-container {
    display: flex;
    width: 100vw;

    .income-form-container {
        display: flex;
        width: 100vw;
        justify-content: center;
        align-items: center;

        .income-form {
            display: flex;
            flex-direction: column;
            margin-top: 20px;

            h2 {
                text-align: center;
                margin-bottom: 0;
                font-size: 20px
            }

            .choice-container {
                display: flex;
                flex-direction: column;
                margin: 10px;

                label {
                    font-size: 12px;
                    margin: 10px 0;
                }

                select {
                    width: 305px;
                }

                input {
                    padding: 5px 0 5px 5px;
                    width: 300px;
                    border-radius: 12px;
                    border: 1.5px solid #e6e8ec;
                }
            }

            .error-message {
                color: #ff0000;
                font-size: 12px;
                text-align: center;
            }

            .submit-button-container {
                display: flex;
                justify-content: center;

                .submit-expense {
                    border: 1.5px solid #6c7394;
                    width: 150px;
                    color: #6c7394;
                    text-transform: uppercase;
                    margin: 20px 5px 0px 5px;
                    padding: 5px 10px;
                    border-radius: 12px;
                    background-color: transparent;
                    cursor: pointer;
                }

                .submit-expense:hover {
                    background-color: #6c7394;
                    color: #fff;
                }
            }
        }
    }
}