.list-item {
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px;
    display: flex;
    justify-content: space-between;

    .info-container {
        display: flex;
        align-items: center;

        .task-title {
            width: 300px;
        }

        .tick {
            padding: 10px;

            path {
                fill: none;
                stroke: #000000;
                stroke-miterlimit: 10;
                stroke-width: 32px;
            }
        }
    }

    .button-container {
        display: flex;
        align-items: center;

        button {
            margin: 0 5px;
            padding: 5px 10px;
            border-radius: 12px;
            background-color: transparent;
        }

        .edit {
            border: 1.5px solid #8db591;
            color: #8db591;
            text-transform: uppercase;
        }

        .edit:hover {
            background-color: #b6dfba;
            cursor: pointer;
        }

        .edit:active {            
            color: #ffffff;
            background-color: #8db591;
        }

        .delete {
            border: 1.5px solid #ffafa3;
            color: #ffafa3;
            text-transform: uppercase;
        }

        .delete:hover {
            background-color: #ffc9c1;
            cursor: pointer;
        }

        .delete:active {
            background-color: #ffafa3;
            color: #ffffff;
        }       

    }

}